In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
movies = pd.read_csv('/content/drive/MyDrive/Movie-Recommendation-System/tmdb_5000_movies.csv')
credits = pd.read_csv('/content/drive/MyDrive/Movie-Recommendation-System/tmdb_5000_credits.csv')

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
movies.shape

(4803, 20)

In [7]:
credits.shape

(4803, 4)

In [8]:
movies.merge(credits,on='title').shape

(4809, 23)

In [9]:
movies = movies.merge(credits,on='title')

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [11]:
# genres
# id
# keywords
# title
# overview
# cast
# crew

In [12]:
movies[['movie_id','title','overview','genres','keywords','cast','crew']]

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [13]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [14]:
movies.shape

(4809, 7)

In [15]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
movies.dropna(inplace = True)

In [17]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
movies.duplicated().sum()

0

In [19]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [20]:
# [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
# ['Action','Adventure','Fantasy','Science Fiction']

In [21]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [22]:
def convert(obj):
  L = []
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [23]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [24]:
movies['genres'] = movies['genres'].apply(convert)

In [25]:
movies['keywords'] = movies['keywords'].apply(convert)

In [26]:
def convert2(obj):
  L = []
  counter = 0
  for i in ast.literal_eval(obj):
    if counter !=3:
       L.append(i['name'])
       counter += 1
    else: 
      break
  return L

In [27]:

movies['cast'] = movies['cast'].apply(convert2)

In [28]:
def fetch_director(obj):
  L = []
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      L.append(i['name'])
      break
  return L

In [29]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [31]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [32]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [33]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [34]:
# 'Sam Worthington' 'Sam Mendew'
# 'SamWorthington' 'SamMendew'

In [35]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [36]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [37]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [38]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [39]:
new_df = movies[['movie_id','title','tags']]

In [40]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [41]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

<ipython-input-41-ad44e9ca1347>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [42]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [43]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [44]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

<ipython-input-44-8b60b591a07f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [45]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [46]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [47]:
new_df['tags'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

In [48]:
from sklearn.feature_extraction.text import CountVectorizer

In [49]:
cv = CountVectorizer(max_features=2000,stop_words='english')

In [50]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [51]:
cv.fit_transform(new_df['tags']).toarray().shape

(4806, 2000)

In [52]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [53]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [54]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [55]:
cv.get_feature_names_out()

array(['000', '10', '11', ..., 'zombie', 'zombies', 'zoo'], dtype=object)

In [56]:
# ['loved','loving','love']
# ['love','love','love']

In [57]:
import nltk

In [58]:
#from nltk.stem.porter import PorterStemmer
#ps = PorterStemmer
from nltk.stem import PorterStemmer
ps= PorterStemmer()
word = 'running'
stemmed_word = ps.stem(word)

print(stemmed_word)

run

In [59]:
def stem(text):
  y = []
  for i in text.split():
    y.append(ps.stem(i))
  
  return " ".join(y)

In [60]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [61]:
new_df['tags'] = new_df['tags'].apply(stem)

<ipython-input-61-be18a4346d89>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [62]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [63]:
cv.fit_transform(new_df['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [64]:
cv.fit_transform(new_df['tags']).toarray().shape

(4806, 2000)

In [65]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [66]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [67]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [68]:
cv.get_feature_names_out()

array(['000', '10', '11', ..., 'youth', 'zombi', 'zoo'], dtype=object)

In [69]:
from sklearn.metrics.pairwise import cosine_similarity

In [70]:
cosine_similarity(vectors)

array([[1.        , 0.10400629, 0.10400629, ..., 0.05455447, 0.        ,
        0.        ],
       [0.10400629, 1.        , 0.07692308, ..., 0.03026138, 0.        ,
        0.03363364],
       [0.10400629, 0.07692308, 1.        , ..., 0.03026138, 0.        ,
        0.        ],
       ...,
       [0.05455447, 0.03026138, 0.03026138, ..., 1.        , 0.05143445,
        0.05292561],
       [0.        , 0.        , 0.        , ..., 0.05143445, 1.        ,
        0.11433239],
       [0.        , 0.03363364, 0.        , ..., 0.05292561, 0.11433239,
        1.        ]])

In [71]:
cosine_similarity(vectors).shape

(4806, 4806)

In [72]:
similarity = cosine_similarity(vectors)

In [73]:
similarity[0].shape

(4806,)

In [74]:
similarity[0]

array([1.        , 0.10400629, 0.10400629, ..., 0.05455447, 0.        ,
       0.        ])

In [75]:
similarity[1]

array([0.10400629, 1.        , 0.07692308, ..., 0.03026138, 0.        ,
       0.03363364])

In [76]:
new_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [77]:
new_df[new_df['title'] == 'Batman Begins'].index[0]

119

In [78]:
list(enumerate(similarity[0]))

[(0, 0.9999999999999999),
 (1, 0.10400628679223047),
 (2, 0.10400628679223047),
 (3, 0.08980265101338744),
 (4, 0.2390457218668787),
 (5, 0.13638618139749523),
 (6, 0.053916386601719206),
 (7, 0.17206180040292132),
 (8, 0.07372097807744857),
 (9, 0.11322770341445956),
 (10, 0.11952286093343935),
 (11, 0.11180339887498948),
 (12, 0.11306675421666135),
 (13, 0.049999999999999996),
 (14, 0.15158476564770806),
 (15, 0.0808745799025788),
 (16, 0.09847982464479191),
 (17, 0.16390251702679642),
 (18, 0.10963225241337865),
 (19, 0.12309149097933274),
 (20, 0.06622661785325219),
 (21, 0.1270001270001905),
 (22, 0.09128709291752767),
 (23, 0.10825317547305485),
 (24, 0.06681531047810609),
 (25, 0.04351941398892445),
 (26, 0.1846372364689991),
 (27, 0.2320697804082285),
 (28, 0.1386750490563073),
 (29, 0.0799502686333539),
 (30, 0.0828236445561349),
 (31, 0.20833333333333331),
 (32, 0.10660035817780521),
 (33, 0.11858541225631421),
 (34, 0.0),
 (35, 0.12166606584807188),
 (36, 0.19814848097530421),
 (37, 0.10606601717798213),
 (38, 0.09128709291752767),
 (39, 0.09374999999999997),
 (40, 0.08964214570007951),
 (41, 0.1956559480312316),
 (42, 0.0),
 (43, 0.11322770341445956),
 (44, 0.041666666666666664),
 (45, 0.10910894511799618),
 (46, 0.1670382761952652),
 (47, 0.2126050160676903),
 (48, 0.09712858623572641),
 (49, 0.07071067811865475),
 (50, 0.1270001270001905),
 (51, 0.09805806756909201),
 (52, 0.15158476564770806),
 (53, 0.058123819371909635),
 (54, 0.03466876226407682),
 (55, 0.0839181358296689),
 (56, 0.16666666666666666),
 (57, 0.027277236279499045),
 (58, 0.0799502686333539),
 (59, 0.09622504486493762),
 (60, 0.021437323142813602),
 (61, 0.30012252399939043),
 (62, 0.10206207261596575),
 (63, 0.10314212462587934),
 (64, 0.036084391824351615),
 (65, 0.0236227795630767),
 (66, 0.02551551815399144),
 (67, 0.19695964928958382),
 (68, 0.15811388300841894),
 (69, 0.029988007195203354),
 (70, 0.09847982464479191),
 (71, 0.09095085938862485),
 (72, 0.17334381132038412),
 (73, 0.03857583749052298),
 (74, 0.24262373970773643),
 (75, 0.13130643285972254),
 (76, 0.08492077756084468),
 (77, 0.01853123291652753),
 (78, 0.06454972243679027),
 (79, 0.07905694150420949),
 (80, 0.056533377108330674),
 (81, 0.12862393885688161),
 (82, 0.08964214570007951),
 (83, 0.21081851067789195),
 (84, 0.14569287935358963),
 (85, 0.13421887304828983),
 (86, 0.09374999999999997),
 (87, 0.1386750490563073),
 (88, 0.10400628679223047),
 (89, 0.0753778361444409),
 (90, 0.0753778361444409),
 (91, 0.21213203435596423),
 (92, 0.07426106572325056),
 (93, 0.08492077756084468),
 (94, 0.18430244519362143),
 (95, 0.16984155512168936),
 (96, 0.09095085938862485),
 (97, 0.08603090020146065),
 (98, 0.10825317547305485),
 (99, 0.03340765523905304),
 (100, 0.08333333333333333),
 (101, 0.09231861823449955),
 (102, 0.1599005372667078),
 (103, 0.09999999999999999),
 (104, 0.07216878364870323),
 (105, 0.11306675421666135),
 (106, 0.075),
 (107, 0.08385254915624211),
 (108, 0.1617491598051576),
 (109, 0.07905694150420947),
 (110, 0.05455447255899809),
 (111, 0.17677669529663687),
 (112, 0.09525009525014289),
 (113, 0.05892556509887895),
 (114, 0.05661385170722978),
 (115, 0.05270462766947299),
 (116, 0.053300179088902604),
 (117, 0.07905694150420947),
 (118, 0.04682929057908469),
 (119, 0.05270462766947299),
 (120, 0.0),
 (121, 0.14433756729740646),
 (122, 0.13363062095621217),
 (123, 0.14153462926807445),
 (124, 0.0757614408414158),
 (125, 0.09486832980505136),
 (126, 0.15875015875023812),
 (127, 0.16666666666666669),
 (128, 0.0),
 (129, 0.11180339887498948),
 (130, 0.029880715233359837),
 (131, 0.12909944487358055),
 (132, 0.05270462766947299),
 (133, 0.034020690871988585),
 (134, 0.1507556722888818),
 (135, 0.0),
 (136, 0.031249999999999993),
 (137, 0.040032038451271776),
 (138, 0.14731391274719738),
 (139, 0.14433756729740643),
 (140, 0.05270462766947299),
 (141, 0.11572751247156893),
 (142, 0.11058146711617285),
 (143, 0.10101525445522105),
 (144, 0.05892556509887895),
 (145, 0.023414645289542346),
 (146, 0.018633899812498245),
 (147, 0.07216878364870323),
 (148, 0.12166606584807188),
 (149, 0.18107149208503706),
 (150, 0.19733805434408153),
 (151, 0.2834733547569204),
 (152, 0.09847982464479191),
 (153, 0.09365858115816939),
 (154, 0.0753778361444409),
 (155, 0.024753688574416854),
 (156, 0.07905694150420949),
 (157, 0.1369306393762915),
 (158, 0.17677669529663687),
 (159, 0.08111071056538126),
 (160, 0.13665204165253028),
 (161, 0.03768891807222045),
 (162, 0.04055535528269063),
 (163, 0.062499999999999986),
 (164, 0.10825317547305484),
 (165, 0.05661385170722978),
 (166, 0.1453095484297741),
 (167, 0.11058146711617285),
 (168, 0.20343336780168372),
 (169, 0.10783277320343841),
 (170, 0.12499999999999999),
 (171, 0.027277236279499045),
 (172, 0.25724787771376323),
 (173, 0.027277236279499045),
 (174, 0.09374999999999997),
 (175, 0.08964214570007951),
 (176, 0.036084391824351615),
 (177, 0.0),
 (178, 0.028676966733820218),
 (179, 0.08333333333333333),
 (180, 0.027277236279499045),
 (181, 0.05892556509887895),
 (182, 0.13803940759355818),
 (183, 0.08333333333333333),
 (184, 0.20916500663351886),
 (185, 0.05892556509887895),
 (186, 0.07576144084141578),
 (187, 0.17928429140015903),
 (188, 0.026650089544451302),
 (189, 0.14173667737846019),
 (190, 0.10540925533894598),
 (191, 0.06154574548966637),
 (192, 0.05590169943749474),
 (193, 0.08974476982721727),
 (194, 0.0),
 (195, 0.06933752452815364),
 (196, 0.06154574548966637),
 (197, 0.04454354031873739),
 (198, 0.06681531047810609),
 (199, 0.12309149097933274),
 (200, 0.13258252147247765),
 (201, 0.0),
 (202, 0.039528470752104736),
 (203, 0.10206207261596575),
 (204, 0.06350006350009525),
 (205, 0.0944911182523068),
 (206, 0.13055824196677335),
 (207, 0.10825317547305485),
 (208, 0.1889822365046136),
 (209, 0.08574929257125441),
 (210, 0.09682458365518541),
 (211, 0.03227486121839514),
 (212, 0.08603090020146065),
 (213, 0.07024393586862704),
 (214, 0.0),
 (215, 0.0808745799025788),
 (216, 0.07372097807744857),
 (217, 0.11043152607484653),
 (218, 0.042874646285627205),
 (219, 0.10206207261596575),
 (220, 0.22116293423234573),
 (221, 0.05892556509887895),
 (222, 0.09534625892455922),
 (223, 0.13130643285972254),
 (224, 0.07024393586862704),
 (225, 0.058123819371909635),
 (226, 0.036084391824351615),
 (227, 0.10206207261596575),
 (228, 0.12892765578234916),
 (229, 0.15309310892394865),
 (230, 0.12376844287208427),
 (231, 0.0),
 (232, 0.1386750490563073),
 (233, 0.12862393885688161),
 (234, 0.10660035817780521),
 (235, 0.09231861823449955),
 (236, 0.13130643285972254),
 (237, 0.07905694150420947),
 (238, 0.1515228816828316),
 (239, 0.10879853497231114),
 (240, 0.06350006350009525),
 (241, 0.11058146711617285),
 (242, 0.10206207261596575),
 (243, 0.1178511301977579),
 (244, 0.11858541225631421),
 (245, 0.09847982464479191),
 (246, 0.09053574604251853),
 (247, 0.0),
 (248, 0.053300179088902604),
 (249, 0.15811388300841894),
 (250, 0.0),
 (251, 0.05892556509887895),
 (252, 0.025785531156469834),
 (253, 0.08718572905786445),
 (254, 0.08964214570007951),
 (255, 0.0),
 (256, 0.1369306393762915),
 (257, 0.06063390625908323),
 (258, 0.024514516892273002),
 (259, 0.0753778361444409),
 (260, 0.2338535866733713),
 (261, 0.029462782549439476),
 (262, 0.13975424859373686),
 (263, 0.11858541225631421),
 (264, 0.0),
 (265, 0.03340765523905304),
 (266, 0.11180339887498948),
 (267, 0.08333333333333333),
 (268, 0.06154574548966637),
 (269, 0.03340765523905304),
 (270, 0.10206207261596575),
 (271, 0.09095085938862485),
 (272, 0.03466876226407682),
 (273, 0.024753688574416854),
 (274, 0.10421098348069739),
 (275, 0.1670382761952652),
 (276, 0.09128709291752767),
 (277, 0.06629126073623882),
 (278, 0.13363062095621217),
 (279, 0.08183170883849714),
 (280, 0.0),
 (281, 0.0773565934694095),
 (282, 0.025253813613805264),
 (283, 0.0),
 (284, 0.0236227795630767),
 (285, 0.023836564731139806),
 (286, 0.08980265101338744),
 (287, 0.032826608214930636),
 (288, 0.03857583749052298),
 (289, 0.052128603514268686),
 (290, 0.07905694150420947),
 (291, 0.06154574548966637),
 (292, 0.10206207261596575),
 (293, 0.035355339059327376),
 (294, 0.1670382761952652),
 (295, 0.12309149097933272),
 (296, 0.04856429311786321),
 (297, 0.059761430466719674),
 (298, 0.0),
 (299, 0.07216878364870322),
 (300, 0.20623947784607632),
 (301, 0.10798355319767),
 (302, 0.10825317547305485),
 (303, 0.036084391824351615),
 (304, 0.07443641677192671),
 (305, 0.24262373970773643),
 (306, 0.09682458365518541),
 (307, 0.14288690166235202),
 (308, 0.07715167498104596),
 (309, 0.07071067811865475),
 (310, 0.036084391824351615),
 (311, 0.16984155512168933),
 (312, 0.10206207261596575),
 (313, 0.062499999999999986),
 (314, 0.0),
 (315, 0.10022296571715913),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.12166606584807188),
 (320, 0.04055535528269063),
 (321, 0.0),
 (322, 0.24999999999999994),
 (323, 0.036084391824351615),
 (324, 0.03340765523905304),
 (325, 0.11572751247156893),
 (326, 0.07715167498104596),
 (327, 0.032826608214930636),
 (328, 0.03466876226407682),
 (329, 0.10206207261596575),
 (330, 0.13608276348795434),
 (331, 0.10540925533894598),
 (332, 0.13363062095621217),
 (333, 0.028676966733820218),
 (334, 0.11624763874381927),
 (335, 0.059761430466719674),
 (336, 0.08333333333333333),
 (337, 0.05455447255899809),
 (338, 0.0),
 (339, 0.05661385170722978),
 (340, 0.059761430466719674),
 (341, 0.09525009525014289),
 (342, 0.19015970731391618),
 (343, 0.024999999999999998),
 (344, 0.036860489038724284),
 (345, 0.026650089544451302),
 (346, 0.0),
 (347, 0.0),
 (348, 0.08111071056538126),
 (349, 0.10206207261596575),
 (350, 0.05892556509887895),
 (351, 0.0),
 (352, 0.03227486121839514),
 (353, 0.049029033784546004),
 (354, 0.026064301757134343),
 (355, 0.04454354031873739),
 (356, 0.11306675421666133),
 (357, 0.0),
 (358, 0.06933752452815364),
 (359, 0.03857583749052298),
 (360, 0.024753688574416854),
 (361, 0.09847982464479191),
 (362, 0.11306675421666135),
 (363, 0.1181138978153835),
 (364, 0.026352313834736494),
 (365, 0.09095085938862485),
 (366, 0.06933752452815364),
 (367, 0.0),
 (368, 0.15811388300841894),
 (369, 0.10400628679223047),
 (370, 0.06063390625908323),
 (371, 0.11470786693528087),
 (372, 0.058123819371909635),
 (373, 0.24514516892273003),
 (374, 0.05103103630798288),
 (375, 0.07654655446197431),
 (376, 0.06154574548966637),
 (377, 0.0),
 (378, 0.0),
 (379, 0.07284643967679481),
 (380, 0.06565321642986127),
 (381, 0.10206207261596575),
 (382, 0.0),
 (383, 0.058123819371909635),
 (384, 0.04055535528269063),
 (385, 0.0),
 (386, 0.026064301757134343),
 (387, 0.029462782549439476),
 (388, 0.0),
 (389, 0.11858541225631421),
 (390, 0.036084391824351615),
 (391, 0.06527912098338667),
 (392, 0.035355339059327376),
 (393, 0.0),
 (394, 0.030316953129541614),
 (395, 0.06063390625908323),
 (396, 0.05455447255899809),
 (397, 0.06063390625908323),
 (398, 0.0),
 (399, 0.029061909685954818),
 (400, 0.10400628679223047),
 (401, 0.03466876226407682),
 (402, 0.10206207261596575),
 (403, 0.09205746178983235),
 (404, 0.07071067811865475),
 (405, 0.07715167498104596),
 (406, 0.026650089544451302),
 (407, 0.031750031750047626),
 (408, 0.03857583749052298),
 (409, 0.0),
 (410, 0.11180339887498948),
 (411, 0.062499999999999986),
 (412, 0.13130643285972254),
 (413, 0.17010345435994292),
 (414, 0.036860489038724284),
 (415, 0.07024393586862704),
 (416, 0.06933752452815364),
 (417, 0.044194173824159216),
 (418, 0.04564354645876383),
 (419, 0.08603090020146065),
 (420, 0.134790966504298),
 (421, 0.027607881518711633),
 (422, 0.13608276348795434),
 (423, 0.05103103630798288),
 (424, 0.04642383454426296),
 (425, 0.07905694150420949),
 (426, 0.064790131918602),
 (427, 0.036860489038724284),
 (428, 0.06735198826004057),
 (429, 0.0),
 (430, 0.057353933467640436),
 (431, 0.030316953129541614),
 (432, 0.1433848336691011),
 (433, 0.035355339059327376),
 (434, 0.0),
 (435, 0.049029033784546004),
 (436, 0.0),
 (437, 0.031249999999999993),
 (438, 0.1433848336691011),
 (439, 0.029462782549439476),
 (440, 0.029880715233359837),
 (441, 0.06454972243679027),
 (442, 0.053300179088902604),
 (443, 0.075),
 (444, 0.0),
 (445, 0.1178511301977579),
 (446, 0.02795084971874737),
 (447, 0.0799502686333539),
 (448, 0.024999999999999998),
 (449, 0.12499999999999997),
 (450, 0.024056261216234404),
 (451, 0.031249999999999993),
 (452, 0.03340765523905304),
 (453, 0.03466876226407682),
 (454, 0.1670382761952652),
 (455, 0.0799502686333539),
 (456, 0.05521576303742327),
 (457, 0.10022296571715913),
 (458, 0.05157106231293967),
 (459, 0.039528470752104736),
 (460, 0.02795084971874737),
 (461, 0.20277677641345315),
 (462, 0.039283710065919304),
 (463, 0.036084391824351615),
 (464, 0.0),
 (465, 0.0),
 (466, 0.17149858514250882),
 (467, 0.1453095484297741),
 (468, 0.034020690871988585),
 (469, 0.06904309634237427),
 (470, 0.05157106231293967),
 (471, 0.07426106572325056),
 (472, 0.12909944487358055),
 (473, 0.12309149097933274),
 (474, 0.0),
 (475, 0.04950737714883371),
 (476, 0.1507556722888818),
 (477, 0.0),
 (478, 0.073543550676819),
 (479, 0.10072787050317251),
 (480, 0.11180339887498948),
 (481, 0.0),
 (482, 0.02551551815399144),
 (483, 0.1414213562373095),
 (484, 0.03466876226407682),
 (485, 0.06681531047810609),
 (486, 0.09068453126375145),
 (487, 0.15811388300841894),
 (488, 0.08333333333333333),
 (489, 0.0),
 (490, 0.16666666666666666),
 (491, 0.12376844287208427),
 (492, 0.0828236445561349),
 (493, 0.036084391824351615),
 (494, 0.0),
 (495, 0.22613350843332267),
 (496, 0.0),
 (497, 0.0),
 (498, 0.08111071056538126),
 (499, 0.0),
 (500, 0.031750031750047626),
 (501, 0.0944911182523068),
 (502, 0.16366341767699427),
 (503, 0.10206207261596575),
 (504, 0.0),
 (505, 0.15811388300841894),
 (506, 0.041666666666666664),
 (507, 0.309426373877638),
 (508, 0.12909944487358055),
 (509, 0.026352313834736494),
 (510, 0.12126781251816646),
 (511, 0.11306675421666135),
 (512, 0.03857583749052298),
 (513, 0.19695964928958382),
 (514, 0.059761430466719674),
 (515, 0.029462782549439476),
 (516, 0.03857583749052298),
 (517, 0.0),
 (518, 0.05661385170722978),
 (519, 0.0),
 (520, 0.0),
 (521, 0.03227486121839514),
 (522, 0.029462782549439476),
 (523, 0.062499999999999986),
 (524, 0.0),
 (525, 0.053300179088902604),
 (526, 0.03340765523905304),
 (527, 0.042874646285627205),
 (528, 0.030772872744833184),
 (529, 0.1743714581157289),
 (530, 0.06350006350009525),
 (531, 0.053916386601719206),
 (532, 0.025785531156469834),
 (533, 0.07216878364870323),
 (534, 0.09805806756909201),
 (535, 0.12126781251816646),
 (536, 0.13803940759355818),
 (537, 0.0944911182523068),
 (538, 0.0),
 (539, 0.29543947393437575),
 (540, 0.09525009525014289),
 (541, 0.10425720702853737),
 (542, 0.04454354031873739),
 (543, 0.09525009525014289),
 (544, 0.06454972243679027),
 (545, 0.029462782549439476),
 (546, 0.08111071056538126),
 (547, 0.09847982464479191),
 (548, 0.0),
 (549, 0.14153462926807447),
 (550, 0.029880715233359837),
 (551, 0.04767312946227961),
 (552, 0.0),
 (553, 0.03466876226407682),
 (554, 0.0),
 (555, 0.04988925789283045),
 (556, 0.031249999999999993),
 (557, 0.14153462926807445),
 (558, 0.0),
 (559, 0.034020690871988585),
 (560, 0.041666666666666664),
 (561, 0.03768891807222045),
 (562, 0.03857583749052298),
 (563, 0.029462782549439476),
 (564, 0.10606601717798213),
 (565, 0.053916386601719206),
 (566, 0.030772872744833184),
 (567, 0.029462782549439476),
 (568, 0.16413304107465318),
 (569, 0.05455447255899809),
 (570, 0.08838834764831843),
 (571, 0.05050762722761053),
 (572, 0.12757759076995717),
 (573, 0.025253813613805264),
 (574, 0.027277236279499045),
 (575, 0.05270462766947299),
 (576, 0.062499999999999986),
 (577, 0.24268133584853774),
 (578, 0.05050762722761053),
 (579, 0.17010345435994292),
 (580, 0.031750031750047626),
 (581, 0.1928791874526149),
 (582, 0.2867073193284778),
 (583, 0.043193421279068),
 (584, 0.09805806756909201),
 (585, 0.03227486121839514),
 (586, 0.05103103630798288),
 (587, 0.09095085938862485),
 (588, 0.034020690871988585),
 (589, 0.154713186938819),
 (590, 0.035355339059327376),
 (591, 0.07284643967679481),
 (592, 0.025785531156469834),
 (593, 0.0),
 (594, 0.06681531047810609),
 (595, 0.20623947784607635),
 (596, 0.11322770341445956),
 (597, 0.07071067811865475),
 (598, 0.041666666666666664),
 (599, 0.03241018617760822),
 (600, 0.0808745799025788),
 (601, 0.039283710065919304),
 (602, 0.10783277320343841),
 (603, 0.06933752452815364),
 (604, 0.07905694150420947),
 (605, 0.03466876226407682),
 (606, 0.0),
 (607, 0.06963575181639443),
 (608, 0.0),
 (609, 0.053300179088902604),
 (610, 0.06772854614785963),
 (611, 0.02795084971874737),
 (612, 0.07654655446197431),
 (613, 0.042874646285627205),
 (614, 0.058123819371909635),
 (615, 0.07216878364870323),
 (616, 0.04564354645876383),
 (617, 0.06063390625908323),
 (618, 0.10783277320343841),
 (619, 0.0),
 (620, 0.0),
 (621, 0.08574929257125441),
 (622, 0.026064301757134343),
 (623, 0.0),
 (624, 0.125),
 (625, 0.039528470752104736),
 (626, 0.10606601717798213),
 (627, 0.14173667737846019),
 (628, 0.0),
 (629, 0.057353933467640436),
 (630, 0.028676966733820218),
 (631, 0.06681531047810609),
 (632, 0.09231861823449955),
 (633, 0.028676966733820218),
 (634, 0.10022296571715913),
 (635, 0.0808745799025788),
 (636, 0.027607881518711633),
 (637, 0.02830692585361489),
 (638, 0.041666666666666664),
 (639, 0.0),
 (640, 0.073543550676819),
 (641, 0.0),
 (642, 0.0),
 (643, 0.1178511301977579),
 (644, 0.05661385170722978),
 (645, 0.05103103630798288),
 (646, 0.06350006350009525),
 (647, 0.05661385170722978),
 (648, 0.036084391824351615),
 (649, 0.0),
 (650, 0.062499999999999986),
 (651, 0.0),
 (652, 0.04950737714883371),
 (653, 0.13258252147247765),
 (654, 0.13638618139749523),
 (655, 0.030772872744833184),
 (656, 0.0),
 (657, 0.04195906791483445),
 (658, 0.05892556509887895),
 (659, 0.030772872744833184),
 (660, 0.11306675421666135),
 (661, 0.21081851067789198),
 (662, 0.0),
 (663, 0.0),
 (664, 0.06804138174397717),
 (665, 0.08718572905786445),
 (666, 0.06154574548966637),
 (667, 0.0),
 (668, 0.1543033499620919),
 (669, 0.0472455591261534),
 (670, 0.020833333333333332),
 (671, 0.08718572905786445),
 (672, 0.03340765523905304),
 (673, 0.024753688574416854),
 (674, 0.08718572905786445),
 (675, 0.053916386601719206),
 (676, 0.03466876226407682),
 (677, 0.030772872744833184),
 (678, 0.13130643285972254),
 (679, 0.0),
 (680, 0.09095085938862485),
 (681, 0.036860489038724284),
 (682, 0.02321191727213148),
 (683, 0.059761430466719674),
 (684, 0.0),
 (685, 0.036860489038724284),
 (686, 0.036860489038724284),
 (687, 0.13363062095621217),
 (688, 0.049029033784546004),
 (689, 0.0),
 (690, 0.034020690871988585),
 (691, 0.07216878364870323),
 (692, 0.134790966504298),
 (693, 0.042874646285627205),
 (694, 0.025785531156469834),
 (695, 0.08574929257125441),
 (696, 0.025253813613805264),
 (697, 0.0),
 (698, 0.05157106231293967),
 (699, 0.044194173824159216),
 (700, 0.03340765523905304),
 (701, 0.07715167498104596),
 (702, 0.026958193300859603),
 (703, 0.026650089544451302),
 (704, 0.08385254915624211),
 (705, 0.03227486121839514),
 (706, 0.026650089544451302),
 (707, 0.0),
 (708, 0.030316953129541614),
 (709, 0.024056261216234404),
 (710, 0.06963575181639443),
 (711, 0.06063390625908323),
 (712, 0.0),
 (713, 0.031249999999999993),
 (714, 0.0),
 (715, 0.11572751247156893),
 (716, 0.030772872744833184),
 (717, 0.0),
 (718, 0.062499999999999986),
 (719, 0.0),
 (720, 0.036084391824351615),
 (721, 0.036860489038724284),
 (722, 0.0),
 (723, 0.030316953129541614),
 (724, 0.02795084971874737),
 (725, 0.0),
 (726, 0.0),
 (727, 0.03857583749052298),
 (728, 0.08492077756084468),
 (729, 0.059761430466719674),
 (730, 0.03904344047215151),
 (731, 0.059761430466719674),
 (732, 0.08183170883849714),
 (733, 0.073543550676819),
 (734, 0.0799502686333539),
 (735, 0.08183170883849714),
 (736, 0.036084391824351615),
 (737, 0.09525009525014289),
 (738, 0.0),
 (739, 0.044194173824159216),
 (740, 0.15158476564770806),

In [79]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1216, 0.3452154817118714),
 (3730, 0.33071891388307384),
 (507, 0.309426373877638),
 (61, 0.30012252399939043),
 (539, 0.29543947393437575)]

In [80]:
new_df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [101]:
def recommend(movie):
  movie_index = new_df[new_df['title'] == movie].index[0]
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
  output1=[]
  for i in movies_list:
    print(new_df.iloc[i[0]].title)
    output1.append(new_df.iloc[i[0]].title)
  return output1

In [102]:
recommend('Avatar')

Aliens vs Predator: Requiem
Falcon Rising
Independence Day
Jupiter Ascending
Titan A.E.

['Aliens vs Predator: Requiem',
 'Falcon Rising',
 'Independence Day',
 'Jupiter Ascending',
 'Titan A.E.']

In [103]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
10th & Wolf
Superman

['The Dark Knight', 'Batman', 'Batman', '10th & Wolf', 'Superman']

In [104]:
from sklearn. feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf_movieid = tfidf.fit_transform(new_df['tags'])
similarity2 = cosine_similarity(tfidf_movieid,tfidf_movieid)

In [105]:
def recommend2(movie):
  movie_index = new_df[new_df['title'] == movie].index[0]
  distances = similarity2[movie_index]
  movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
  output2 = []
  for i in movies_list:
    print(new_df.iloc[i[0]].title)
    output2.append(new_df.iloc[i[0]].title)
  return output2

In [106]:
recommend2('Avatar')

Aliens
Falcon Rising
Battle: Los Angeles
Apollo 18
Titan A.E.

['Aliens', 'Falcon Rising', 'Battle: Los Angeles', 'Apollo 18', 'Titan A.E.']

In [107]:
recommend2('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman
Batman Returns

['The Dark Knight',
 'The Dark Knight Rises',
 'Batman',
 'Batman',
 'Batman Returns']

In [112]:
def recommend3(movie):
  l1 = recommend(movie)
  l2 = recommend2(movie)
  ans = []
  for i in l1:
    for j in l2:
      if i==j:
        ans.append(i)
        break;
  print(l1)
  print(l2)
  print(ans)

In [113]:
recommend3('Avatar')

Aliens vs Predator: Requiem
Falcon Rising
Independence Day
Jupiter Ascending
Titan A.E.
Aliens
Falcon Rising
Battle: Los Angeles
Apollo 18
Titan A.E.
['Aliens vs Predator: Requiem', 'Falcon Rising', 'Independence Day', 'Jupiter Ascending', 'Titan A.E.']
['Aliens', 'Falcon Rising', 'Battle: Los Angeles', 'Apollo 18', 'Titan A.E.']
['Falcon Rising', 'Titan A.E.']